{erl_opts, [debug_info]}.
{deps_dir, ["../../deps"]}.
{deps, [n2o,cowboy,mimetypes,{erlydtl,".*",{git,"git://github.com/evanmiller/erlydtl.git",{tag,"0.8.0"}}}]}.
{erlydtl_opts, [
    {doc_root,   "priv/templates"},
    {out_dir,    "ebin"},
    {compiler_options, [report, return, debug_info]},
    {source_ext, ".dtl"},
    {module_ext, "_view"}
]}.
