{plugins,[ling_builder]}.
{sub_dirs,["deps","apps"]}.
{lib_dirs,["apps","deps"]}.
{deps_dir,["deps"]}.
{deps, [
    {n2o,           ".*", {git, "git://github.com/5HT/n2o.git", "HEAD"}},
    {kvs,           ".*", {git, "git://github.com/synrc/kvs.git", "HEAD"}},
    {avz,           ".*", {git, "git://github.com/synrc/avz.git", "HEAD"}},
    {lager,         ".*", {git, "git://github.com/basho/lager.git",        {tag,"1.2.2"}}},
%    {eper,          ".*", {git, "git://github.com/massemanet/eper.git", "HEAD"}},
    {mimetypes,     ".*", {git, "git://github.com/doxtop/mimetypes.git",   {tag, "HEAD"}}},
    {gproc,         ".*", {git, "git://github.com/uwiger/gproc.git",          "HEAD"}},
    {n2o_scripts,   ".*", {git, "git://github.com/synrc/n2o_scripts", "HEAD"}},
%    {sync,          ".*", {git, "git://github.com/doxtop/sync", "HEAD"}},
    {active,        ".*", {git, "git://github.com/synrc/active", "HEAD"}},
    {ling_builder,".*", {git,"git://github.com/maximk/ling_builder.git","master"}},
    {oauth,         ".*", {git, "git://github.com/doxtop/erlang-oauth.git", "master"}}
]}.

{ling_builder_opts,[
    {build_host,"build.erlangonxen.org:8080"},
    {username,"test"},
    {password,"test"},
    {strip_image,false},
    {import_lib,crypto},
    {import_lib,sasl},
    {import_lib,inets},
    {import_lib,xmerl},
    {import_lib,ssl},
    {import_lib,asn1},
    {import_lib,public_key},
    {import_lib,mnesia},
    {import, "rels/web/files/sys.config"},
    {import, "apps/web/priv/*/*"},
    {import, "apps/web/priv/*/*/*"}
    ]}.

