{sub_dirs,["deps","apps"]}.
{lib_dirs,["apps","deps"]}.
{deps_dir,["deps"]}.
{deps, [
    {"../apps/web/priv/static/bootstrap",     ".*", {git, "git://github.com/twbs/bootstrap",           {tag,"v2.3.2"}}, [raw]},
    {"../apps/web/priv/static/less",          ".*", {git, "git://github.com/less/less.js.git",         {tag,"v1.5.0"}}, [raw]},
    {"../apps/web/priv/static/font-awesome",  ".*", {git, "git://github.com/FortAwesome/Font-Awesome", {tag,"v3.2.1"}}, [raw]},
    {n2o,           ".*", {git, "git://github.com/5HT/n2o.git",              {tag,"3.4"}}},
    {kvs,           ".*", {git, "git://github.com/synrc/kvs.git",            {tag,"3.4"}}},
    {avz,           ".*", {git, "git://github.com/synrc/avz.git",            {tag,"3.4"}}},
    {active,        ".*", {git, "git://github.com/synrc/active",             "master"}},
    {recon,         ".*", {git, "git@github.com:ferd/recon.git",             "master"}}
]}.
