{release, {skyline, "1.0.0"},
    [kernel,stdlib,web,sasl,compiler,crypto,syntax_tools,tools,amqp_client,
    avz,ranch,cowboy,erlydtl,gproc,kai,mnesia,mqs,kvs,lager,mimetypes,n2o,
    asn1,public_key,inets,oauth,rabbit_common,sync]}.

{extended_start_script, true}.
{generate_start_script, true}.
{sys_config, "rels/web/files/sys.config"}.
{include_erts, true}.

{overlay, [
    {mkdir, "log/sasl"},
    {copy, "rels/web/files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
    {copy, "rels/web/files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"} ]}.
