[{n2o, [{port,8000},{route,routes},{login,"/account"},{log_modules,index}]},
 {web,
     [{http_address, "http://skyline.synrc.com"},
      {fb_id, "385389014900491"},
      {fb_secret, []},
      {tw_consumer_key, "qfrLWd9KPpK8cz0pWmBg"},
      {tw_consumer_secret, "FTaon5hzrucCrMGsULMc6Zd6sYEkuiZy36LLURTFaoU"},
      {gplus_client_id, "146782506820.apps.googleusercontent.com"},
      {gplus_cookiepolicy, "http://synrc.com"}]},
 {kvs,
     [{pass_init_db,true},
      {nodes,[]},
      {log_modules,index},
      {dba, store_mnesia},
      {schema, [kvs_user, kvs_acl, kvs_feed, kvs_subscription ]}]}
].
