[
 {sync, [{sync_mode, nitrogen}]},
 {n2o, [{route,routes}]},
 {mnesia, [{dir, "data"}]},
 {nsx_idgen, [{game_pool,5000000}]},
 {sasl,
    [{sasl_error_logger, {file,"log/sasl-error.log"}},
    {errlog_type, error},
    {error_logger_mf_dir, "log/sasl"},
    {error_logger_mf_maxbytes, 10485760},
    {error_logger_mf_maxfiles, 5}]},
 {kvs,
     [{app_srv_node,'app@rigdzin.cc'},
      {pass_init_db,true},
      {sync_nodes,false},
      {nodes,[]},
      {dba,nsm_riak},
      {game_srv_node,'game@rigdzin.cc'},
      {web_srv_node,'web@rigdzin.cc'},
      {riak_srv_node,'n2o@127.0.0.1'}]},
 {mqs,
     [{amqp_host, "localhost"},
      {amqp_port, 5672},
      {amqp_user, "guest"},
      {amqp_pass, "guest"},
      {amqp_vhost, "/"}]},
 {lager,
     [{handlers,
          [{lager_console_backend,info},
           {lager_file_backend,
               [{"log/error.log",error,10485760,"$D0",1000},
                {"log/console.log",info,10485760,"$D0",1000}]}]},
      {crash_log,"log/crash.log"},
      {crash_log_msg_size,65536},
      {crash_log_size,10485760},
      {crash_log_date,"$D0"},
      {crash_log_count,5},
      {error_logger_redirect,true}]},
 {riak_core,
     [{ring_state_dir,"riak/ring"},
      {https,[{"0.0.0.0",8450}]},
      {ssl,
          [{certfile,"/mnt/glusterfs/server.crt"},
           {keyfile,"/mnt/glusterfs/server.key"}]},
      {handoff_port,8104},
      {platform_bin_dir,"/usr/sbin"},
      {platform_data_dir,"riak"},
      {platform_etc_dir,"/etc/riak"},
      {platform_lib_dir,"/usr/lib/riak"},
      {platform_log_dir,"/var/log/riak"}]},
 {riak_kv,
     [{storage_backend,riak_kv_multi_backend},
      {multi_backend_default,leveldb_backend},
      {multi_backend,
          [{bitcask_backend,riak_kv_bitcask_backend,
               [{data_root,"riak/bitcask"}]},
           {leveldb_backend,riak_kv_eleveldb_backend,
               [{data_root,"riak/leveldb"}]}]},
      {mapred_name,"mapred"},
      {mapred_system,pipe},
      {mapred_2i_pipe,true},
      {map_js_vm_count,0},
      {reduce_js_vm_count,0},
      {hook_js_vm_count,0},
      {js_max_vm_mem,0},
      {js_thread_stack,0},
      {http_url_encoding,on},
      {riak_kv_stat,true},
      {legacy_stats,true},
      {vnode_vclocks,true},
      {legacy_keylisting,false},
      {listkeys_backpressure,true}]},
 {riak_search,[{enabled,true}]},
 {merge_index,
     [{data_root,"riak/merge_index"},
      {data_root_2i,"riak/merge_index_2i"},
      {buffer_rollover_size,1048576},
      {max_compact_segments,20}]},
 {bitcask,[{data_root,"riak/bitcask"}]},
 {eleveldb,[{data_root,"riak/leveldb"}]},
 {riak_sysmon,
     [{process_limit,30},
      {port_limit,2},
      {gc_ms_limit,100},
      {heap_word_limit,40111000},
      {busy_port,true},
      {busy_dist_port,true}]},
 {riak_control,
     [{enabled,true},
      {auth,userlist},
      {userlist,[{"user","pass"}]},
      {admin,true}]},
 {snmp, [{agent, [
    {priority, normal},
    {versions, [v3]},
    {db_dir, "etc/snmp/agent/db"},
    {config, [{dir, "etc/snmp/agent"},{force_load, true}, {verbosity, silence}]},
    {mibs, ["lib/nsx_mibs-1/priv/mibs/SYNRC-REG", "lib/nsx_mibs-1/priv/mibs/DHT-MIB", "lib/nsx_mibs-1/priv/mibs/MEM-MIB"]},
    {mib_storage, ets},
    {target_cache, [{verbosity,silence}]},
    {symbolic_store, [{verbosity,silence}]},
    {local_db, [{repair,true},{auto_save,5000},{verbosity,silence}]},
    {error_report_module, snmpa_error_logger},
    {agent_type, master},
    {agent_verbosity, silence},
    {discovery, [{terminating, [{enable, true}, {stage2, discovery}, {trigger_username, ""}]},{originating, [{enable, true}]}]},
    {multi_threaded, false},
    {mib_server, [{mibentry_override,false},{trapentry_override,false},{verbosity,silence},{cache,true}]},
    {note_store, [{timeout,30000},{verbosity,silence}]},
    {net_if, [{module,snmpa_net_if},{verbosity,silence},{options,[{bind_to,false},{no_reuse,false},{req_limit,infinity}]}]}
 ]}]}
].
