.products {
  background: @prodListBackground;
}

.product {
  background: @prodBackground;
  border: 1px solid #ddd;
  .border-radius(@baseBorderRadius);
  .box-shadow(0 1px 3px rgba(0,0,0,.055));

  > .product-description{text-align:center;}

  .items-list & {
    .span(12);
    padding:5px;

    & .product-description{text-align:left;}
  }

  .items-grid & {
      .span(3);
      padding: 6px;

      & .product-image {width:195px; height:auto;}

      & .product-controls, & .product-name, & .product-price {
        width:100%;
        margin-left:0;
      }

      & .product-description{display:none;}
    }

  .product-view & {
      & .product-controls, & .product-name, & .product-price, & .product-description {
        width:100%;
        margin-left:0;
      }

      & .product-image {
        width:300px;
        img {max-width:290px;max-height:290px;}
      }
  }
  .product-carousel .carousel-inner & {
      text-align:center;

    & .product-image{
      width:100%;
      height:250px;

      img {
        padding:0;
        border:none;
        .box-shadow(0);
      }
    }

    & .product-name {
      position: absolute;
      width:400px;
      height: 70px;
      margin-left:100px;
      margin-top: 50px;
      left:0;
      top: 0;

      & h4{
        color:@red;
        font-size:40px;
        padding: 10px;
        width:400px; 
        overflow:hidden;
      }
      & .badges {display:none;}
    }

    & .product-description{display:none;}
    & .product-price {
      position: absolute;
      height: 55px;
      margin-left:200px;
      margin-top: 120px;
      left:0;
      top: 0;
      padding:5px 20px 5px 5px;
      color: @white;
      background: @grayDark;
      background: rgba(0,0,0,.5);


      & h2 {
        float:right;
        margin-top:5px;
      }

      & .product-controls {
        & div:nth-child(2){ display:none;}
      }
    }
  }
}

.product-name, .product-controls, .product-price {text-align:center;}

.product-review {
  background: @reviewBackground;
  border: 1px solid #ddd;
  .border-radius(@baseBorderRadius);
  .box-shadow(0 1px 3px rgba(0,0,0,.055));
  padding: 5px;
  margin-left:0 !important;

  & .review-date {display: block;}

  & .review-author {
    text-align:center;

    & .avatar {
      max-width:100px;
      max-height:100px;
    }
  }

}
