<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/images/favicon.ico" rel="shortcut icon" >
  <link href="/static/css/appstore.css" rel="stylesheet" type="text/css"/>
  <link href="/static/flatui/css/flat-ui.css" rel="stylesheet" type="text/css">
</head>
<body style="background-color: #ECF0F1;">
  {{body}}
   <div valign=bottom>
  <center>Copyright &copy; Synrc Research Center</center>
   </div>
  <br>
  <script>{{script}}</script>
  <div id="n2ostatus"></div>
  <script src="/static/nitrogen/jquery.js"></script>
  <script src="/static/nitrogen/bert.js"></script>
  <script src="/static/nitrogen/bullet.js"></script>
  <script src="/static/nitrogen/n2o.js"></script>
  <script src="/static/nitrogen/textboxlist.js"></script>
  <script src="/static/bootstrap/js/bootstrap-tab.js"></script>
  <script src="/static/bootstrap/js/bootstrap-dropdown.js"></script>
  <script src="/static/bootstrap/js/bootstrap-button.js"></script>
  <script src="/static/bootstrap/js/bootstrap-tooltip.js"></script>
  <script src="/static/bootstrap/js/bootstrap-transition.js"></script>
  <script src="/static/bootstrap/js/bootstrap-carousel.js"></script>
  <script src="/static/bootstrap/js/bootstrap-modal.js"></script>
  <script src="/static/flatui/js/flatui-checkbox.js"></script>
  <script src="/static/flatui/js/application.js"></script>
  <script src="/static/flatui/js/jquery.placeholder.js"></script>
  <script src="/static/flatui/js/jquery.dropkick-1.0.0.js"></script>
  <script src="/static/flatui/js/jquery.tagsinput.js"></script>
  <script src="/static/flatui/js/jquery-ui-1.10.0.custom.min.js"></script>
</body>
</html>
