<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/static/images/favicon.ico">

  <link rel="stylesheet/less" type="text/css" href="/static/bootstrap/less/bootstrap.less"/>
  <script src="/static/less/dist/less-1.4.0-beta.js" type="text/javascript"></script>
  <script>less={env: 'develoment'};</script>
  <link href="/static/flatui/css/flat-ui.css" rel="stylesheet">
</head>
<body>
  {{body}}
  <script>{{script}}</script>
  <div id="n2ostatus"></div>
  <script src="/static/nitrogen/jquery.js"></script>
  <script src="/static/nitrogen/bert.js"></script>
  <script src="/static/nitrogen/bullet.js"></script>
  <script src="/static/nitrogen/n2o.js"></script>
  <script src="/static/bootstrap/js/bootstrap-dropdown.js"></script>
</body>
</html>
